h1 h2{
    font-size:1vh;
}

.logo img{
    width:78px;
}

footer{
    margin-top:200px;
    bottom:0;
}

main{
    margin : 2%;
}

.img_section{
    width:500px;
    height:auto;
    margin-left:10px;
    margin-right:10px;
}

h3{
    margin-top:5px;
}